:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background: #fff;
}

a,
button {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

p,
span,
a {
    font-weight: 400;
}

h1 {
    font-size: 56px;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    line-height: 64px;
}

a,
button,
input,
textarea,
button {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container {
    padding: 0 199px;
}

section {
    padding-bottom: 64px;
}

section:last-child {
    padding-bottom: 0;
}

section:first-child {
    margin-bottom: 80px;
    padding-top: 0;
    padding-bottom: 0;
}

.ellipse-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.ellipse-2 {
    position: absolute;
    top: 0;
    right: 0;
}

/* svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
} */

/* @media (max-width: 1660px) {
    .container {
        padding: 0 120px;
    }

    section:first-child {
        margin-bottom: 59px;
    }

    section {
        padding-bottom: 52px;
    }

    .title {
        font-size: 37px;
        margin-bottom: 12px;
    }
}

@media (max-width: 1300px) {
    .container {
        padding: 0 104px;
    }
    
    section:first-child {
        margin-bottom: 51px;
    }

    section {
        padding-bottom: 45px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1100px) {
    .container {
        padding: 0 50px;
    }

    section:first-child {
        margin-bottom: 80px;
    }

    .title {
        font-size: 48px;
        margin-bottom: 16px;
    }

    section {
        padding-bottom: 70px;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 0 15px;
    }

    section:first-child {
        margin-bottom: 51px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 12px;
    }

    section {
        padding-bottom: 41px;
    }
} */